a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0px;
}
:root{
    --but-color:#f9683a;
    --background-color:#17161c;
    --font-family: "Roboto", sans-serif;
}
body{
    font-family: "Roboto";
    line-height: 30px;
    font-size: 14px;
    color: #707070;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index:9999;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color:#f9683a;
    background: none;
}
.nav-pills .nav-link{
    color: aliceblue;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 35px;
    text-transform: uppercase; 
    font-family: var(--font-family);
}
.logo_1 img{
    object-fit: contain;
}
.baner_img{
    height: 933px;
    width: 100%;
    background-image:url(../img/header.jpg) ;
    transform: center;
    background-position: 50% 50%;
}
.main_baner{
    margin-top: 28%;
}
.main_baner h1{
    letter-spacing: 2.5px;
    font-size: 48px;
    font-family: "Roboto", sans-serif;
}
.main_baner h3{
    font-weight: 400;
    font-size: 28px;
    letter-spacing:2.5px;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
}
.main_baner a{
    padding: 10px 30px;
    background-color: #f9683a;
    border-radius: 30px;
    font-size: 16px;
    display: inline-block;
    margin-top: 50px;
}
.main_baner a:hover{
    background-color:var(--background-color);
}
            

            /* ABOUT */

.main_about{
    background-color: var(--background-color);
    padding: 100px 0 100px;
}
.row{
    margin-right: -15px;
    margin-left: -15px;
}
.right{
    padding-left: 15px;
    padding-right: 15px;
    /* width: 50%; */
}
.about_text {
    margin-top: 30px;
}
.about_text h2{
    color: #f9683a;
    font-size: 42px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    margin-bottom: 30px;
    
}
.about_text strong{
    color: #999;
    margin: 0 0 10px;
    font-weight: 500;
}
.about_text .text_about{
    margin: 0 0 10px;
    color: #707070;
    
    letter-spacing: 1px;
}
.left{
    padding-left: 15px;
    padding-right: 15px;
    /* width: 50%; */
}
.left img{
    
    width: 100%;
}
.buten a{
    padding: 10px 30px;
    background-color: #f9683a;
    border-radius: 30px;
    font-size: 16px;
    width: 150px;
    display: inline-block;
    margin-top: 50px;
    text-align: center;
}
.buten a:hover{
    background-color: var(--background-color);
}
/*Our  Features*/
.services{
    background-color: var(--background-color);
}
.title h2{
    color: var(--but-color);
    font-size: 42px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 700; 
}
.title .text_about{
    color: #707070;
    display: inline-block;
    margin-top: 10px;
    margin-bottom:10px ;
    line-height: 30px;
}


                 /*  px-bg     */

 .fixed {
    background-image: url(../img/px-bg.jpg);
    background-attachment: fixed;
    padding: 80px 0;
    text-align: center;
    /* height: 100vh; */
    /* width: 100%; */
}
.text_bg{
    padding: 15px 15px;
    font-weight: 600;
    /* font-weight: bold; */
}
.text_bg h2 {
    font-size: 42px;
    font-weight: bold;
}


                /* protfolio */
.Portfolio{
    padding: 100px 0 100px;
    background-color:#17181d;
}
.titale_prot{
    margin-bottom: 80px;
}
.titale_prot h2{
    font-family: var(--font-family);
    color: var(--but-color);
    font-size: 42px;
    font-weight: 600;
    /* margin-bottom: 10px; */
}
.filter-option{
    margin-bottom: 30px;
}
.filter-option ul li{
    display: inline-block;
}
.filter-option li a{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    padding: 15px 30px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    /* display: inline-block; */
    margin:0 5px;
    background-color: #1f2025;
}
.filter-option .filter.active{
    color: #fff;
    border: 1px solid #f9683a;
    background-color: var(--but-color);
}
.project{
    transition: all 0.5s ease 0s;
    position: relative;
    margin-top: 30px;
    overflow: hidden;
}
.project img{
    overflow: hidden;
}
.text_hover_prot{
    padding: 0 0 10px   ;
}
.project::before{
    content: '';
    opacity: 0;
    background-color: #17161c7b;
    transition: 0.5s ease 0s;
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    transition: .5s;
    /* top: 30px; */
    text-align: center;
}
.project .text_hover_prot{
    position: absolute;
    text-align: center;
    color: #fff;
    top: 40%;
    text-align: center;
}
.text_hover_prot{
    opacity: 0;
    transition: 0.5s;
    top: 30%;
    left: 20%;
}
.text_hover_prot {
    color: #fff;
    text-align: center;
    font-size: 22px;
}
.text_hover_prot a{
    color: #ececec;
}
.project:hover::before{
    opacity: 1;
    top: 5%;
}
.project:hover .text_hover_prot{

    opacity: 1;
    top: 40%;
}



                /* bolg */
.bolg{
    background-color: var(--background-color);
    padding: 100PX 0 100px;
}
.tital_bolg h2{
    color: var(--but-color);
    font-weight: 600;
    font-size: 42px;
    font-family: var(--font-family);

}
.tital_bolg p{
    width: 100%;
    font-family: var(--font-family);
    display: inline-block;
    padding: 0 30%;
    margin-top: 10px;
    font-size:18px;
}
.new_img .date{

    background-color: var(--but-color);
    color: #fff;
    position: absolute;
    top: 10px;
    left: 25px;
    width: 60px;
    text-align: center;
}
.news-text {
    background-color: #fff;
    float: left;
    width: 100%;
    padding: 30px 15px 15px;
    margin-bottom: 30px;
}
.news-text h3 a {
    color: #17161c;
    display: block;
    font-size: 18px;
}
.news-text p {
    font-size: 18px;
}



                /* Email   */
.email{
    background-color:#1c1d22;
    padding: 100px 0 100px;
}
.titale_text_emali h2{
    color: #f9683a;
    font-size: 42px;
    font-family: var(--font-family);
    font-weight: 500;
    font-family: "Roboto";
}
.titale_text_emali p{
    width: 100%;
    font-family: var(--font-family);
    display: inline-block;
    /* padding: 0 50px; */
    margin-top: 10px;
    font-size:18px;
}
.contact_from .form-control{
    background: none;
    border: none;
    width: 100%;
    border-bottom: 1px solid #000;
    border-radius: 0;
    color: #ececec;
    margin-bottom: 30px;
    padding: 30px 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: auto;
}

.contact_from ::placeholder{
    color: #999;
    font-family: var(--font-family);
}

.contact-from .form-control{
    background: none;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    color: #ececec;
    margin-bottom: 30px;
    padding: 20px 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: auto;
}

            /* footer   */
.footer_bg{
    padding: 100px 0 100px ;
    background-color: #17161c;

}
.weight h3  {
    font-family: var(--font-family);
    color: #ececec;
}
.weight  li{
    color: #ececec;
    margin-bottom: 20px 0;
    font-weight: 400;
    font-family: var(--font-family);
}
.weight p{
    color: #ececec;
    margin-bottom: 20px 0;
    /* font-size: 17px; */
    font-weight: 300;
    font-family:var(--font-family);
}
.weight img {
    width: 40%;
}
.copy_right{
    padding: 14px 0 0 !important;
    background-color: #f9683a;
    color: #fff;
    font-size: 20px;
}
.social_icon a {
    color: #fff;
}
.social_icon li{
    margin-left: 10px;
    font-size: 15px;
    
}
.weight p {
    font-size: 14px;
    font-family: var(--font-family);

}